<div id="all-tracks" class="col-md-8">
  <h3>All songs</h3>
  <div class="dropdown track-sort">
    <span style=" position: relative; top: 3px; right: 0px; ">
      Sort by
    </span>
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span id="track-sort-option"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a id='track-sort-recent' href="#">Recent</a></li>
      <li><a id='track-sort-likes'href="#">Likes</a></li>
      <li><a id='track-sort-title'href="#">Title</a></li>
    </ul>
  </div>
  <ul id="tracks-index" class="list-group"></ul>
</div>

<div id="users-index" class="col-md-4">
  <h3>All people</h3>
  <div class="dropdown users-sort">
    <span style=" position: relative; top: 3px; right: 0px; ">
      Sort by
    </span>
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span id="user-sort-option"></span>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a id='user-sort-name' href="#">Name</a></li>
      <li><a id='user-sort-followers' href="#">Followers</a></li>
      <li><a id='user-sort-likes' href="#">Likes</a></li>
    </ul>
  </div>
  <div id="all-users"></div>
</div>
