<div id="all-tracks" class="col-md-8">
  <h3>All tracks</h3>
  <ul id="tracks-index" class="list-group"></ul>
</div>

<div id="users-index" class="col-md-4">
  <h3>All people</h3>
  <div id="all-users"></div>
</div>
