<div id="navbar"></div>

<div class="container">
  <div id="main">
  </div>

  <div id="audio-player" class="hidden">
  </div>
</div>

<script>
  window.CURRENT_USER_NAME = '<%= current_user.username %>'
  window.CURRENT_USER_ID = '<%= current_user.id %>'

  $(document).ready(function () {
    AudioFileApp.initialize();
  });

  // Need this to handle Back button clicks
  $(document).on('page:load', function () {
    Backbone.history.stop();
    AudioFileApp.initialize();
  });
</script>
