<div id="user-info" class="col-md-2">
</div>

<div class="col-md-8">
  <h3>Uploaded Tracks</h3>
  <div id="user-uploaded-list"></div>
</div>

<div id="followers-list" class="col-md-2">
  <h3>Followers</h3>
  <ul id="users-list" class="list-group"></ul>
</div>
