<%= render partial: 'layouts/form', object: @user %>
    <button type="submit" class="btn btn-primay">Sign Up</button>
  </form>
<p>Already have an account? <a href="<%= new_session_url %>">Log in</a>.</p>
</div>
