<ul class="nav nav-tabs">
  <li id="stream-tab" role="presentation" class="active"><a href="#">Stream</a></li>
  <li id="explore-tab" role="presentation"><a href="#">Explore</a></li>
</ul>
<div id="home-subtab"></div>
