<div class="media">
  <div class="media-left media-middle">
      <img class="media-object" width="100px" height="100px" src="<%= track.escape('image') %>" alt="">
  </div>
  <div class="media-body track-item-body">

    <div>
      <div class="pull-left">
        <button class="btn btn-default btn-circle btn-lg play">
          <span class="glyphicon glyphicon-play"></span>
        </button>
      </div>

      <div class="track-info">
        <p><small><a href="<%= track.escape('uploader_link') %>"><%= track.escape('uploader_name') %></a></p>
        <h4><%= track.escape('title') %></h4>
      </div>
    </div>

    <div class="progress progress-song hidden">
      <div class="progress-bar" style="width: 0%;">
      </div>
    </div>
    <div id="like-widget"></div>
  </div>
</div>
