<div>
  <% if (like.isNew()) { %>
    <span class="glyphicon glyphicon-star not-liked"></span>
  <% } else { %>
    <span class="glyphicon glyphicon-star liked"></span>
  <% } %>
  <span class="num-likes"><%= track.escape("num_likes") %></span>
</div>
