<div>
  <% if (like.isNew()) { %>
    <span class="glyphicon glyphicon-star-empty"></span>
  <% } else { %>
    <span class="glyphicon glyphicon-star"></span>
  <% } %>
  <%= track.escape("num_likes") %>
</div>
