<h3>People I follow:</h3>
<ul id="followed-users-list" class="list-group">                                                                                                                                                                                                                                                                                                                  </ul>
