/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootswatch/simplex/variables";
@import "bootstrap";
@import "bootswatch/simplex/bootswatch";

body {
  padding-top: 50px;
  padding-bottom: 43px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#logo-subtitle {
  margin: -24px 0px 24px 49px;
}

.background {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url('http://cdn02.masterstudies.com/element_db/52/5261_Electronics_Music_Production_pic_1.jpg');
  position: fixed;
  top: 0;
}

.login {
  background-color: rgba(255,255,255,0.87);
  top: CALC(50% - 245px);
  left: CALC(50% - 217px);
  width: 434px;
  padding: 20px;
  position: fixed;
  border-radius: 5px;
}

.signup {
  background-color: rgba(255,255,255,0.87);
  top: CALC(50% - 270px);
  left: CALC(50% - 217px);
  width: 434px;
  padding: 20px;
  position: fixed;
  border-radius: 5px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 12px 0px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-lg.stop {
  background-color: rgba(51, 122, 183, 0.43);
  padding: 12px 0px;
}

.btn-circle.btn-lg.play {
  background-color: rgb(239, 235, 235);
  padding: 12px 17px;
}

#player-button:hover {
  border: 2px solid rgba(242, 244, 245, 1);
}

.track-info {
  margin-left: 57px;
}

.track-item-body {
  position: relative;
}

#like-widget {
  position: absolute;
  bottom: 0px;
}

.progress.progress-song {
  margin-top: 19px;
  height: 3px;
}

#tracks-list .progress .progress-bar {
  transition: width 50ms ease;
}

#audio-player {
  position: fixed;
  left: CALC(50% - 300px);
  width: 600px;
  height: 45px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.86);
  border: 1px solid rgb(221, 221, 221);
  padding-left: 30px;
}

#audio-player .player-container {
  margin-top: 7px;
  position: relative;
  left: CALC(50% - 300px);
}

#audio-player .player-container .song-text-details {
  display: inline;
}

#audio-player .song-info {
  position: relative;
  left: 8px;
  bottom: 9px;
  display: inline;
}

#audio-player #song-uploader-sm {
  font-size: 8pt;
  position: absolute;
  top: -11px;
  width: 100%;
}

#audio-player #song-title-sm {
  position: relative;
  top: 9px;
  font-size: 12pt;
  width: 100%;
}

#audio-player #song-icon {
  width: 32px;
  height: 32px;
  display: inline;
  margin-right: 6px;
  margin-bottom: 4px;
}

#audio-player audio {
  width: 300px;
}

#all-tracks .track-sort {
  left: 105px;
  bottom: 40px;
  margin-bottom: -31px;
}

#users-index .users-sort {
  left: 117px;
  bottom: 40px;
  margin-bottom: -31px;
}


#tracks-list .list-group-item {
  position: relative;
  transition: background-color 1s;
}

#tracks-list .list-group-item .track-timestamp {
  position: absolute;
  top: 9px;
  right: 15px;
}

#tracks-list .list-group-item.playing {
  background-color: rgba(33, 79, 118, 0.07);
}

#tracks-list .list-group-item img {
  height: 80px;
  width: 80px;
  transition: height 1s, width 1s;
}

#tracks-list .list-group-item.playing img {
  height: 100px;
  width: 100px;
}

.glyphicon-star.not-liked {
  color: rgb(181, 181, 181);
  font-size: 11pt;
}

.glyphicon-star.not-liked:hover {
  color: #FFAB15;
  font-size: 11pt;
}

.glyphicon-star.liked {
  color: #FFAB15;
  font-size: 11pt;
}

.num-likes {
  color: #b5b5b5;
  font-size: 8pt;
  position: relative;
  bottom: 1px;
  display: inline;
}

#like-widget {
  cursor: pointer;
  cursor: hand;
}
