<div class="player-container">
  <audio controls preload="auto" src="" type="audio/mp3">
    <p>Your browser does not support the <code>audio</code> element.</p>
  </audio>
  <div class="song-info">
    <img id="song-icon">
    <span id="song-uploader-sm"><a>Uploader</a></span>
    <span id="song-title-sm">Title of Song</span>
  </div>
</div>
