<div class="jumbotron container">
  <h1>Welcome to AudioFile</h1>
  <h2>A music-sharing site based on <a href="http://www.soundcloud.com">SoundCloud</a></h2>
  <form action="<%= users_url %>" method="post" class="form-inline">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
      <input type="text" name="user[username]" value="<%= @user.username %>" class="form-control" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" name="user[password]" class="form-control" placeholder="Password">
    </div>
